
a{
    text-decoration: none;
}
#current{
	background-color: #3499D4;
	border-radius: 15px;
	cursor: default;

}
#banner{
	width: 100%;
}
s{
	color: red;
}
.deals ul li
{
  text-align: center;
  padding: 32px;
}

#login_container  {
	padding-top:40px;
	display: block;
	text-align: center;
	width: 500px;
	margin: 0 auto;
	background-color:#dfe6e9;
	border-radius: 20px;
	border: 2px solid #636e72;
	height: 550px;
}

.login_form {
	margin: 0 auto;
	font-family: Helvetica;	
	font-size: 15px;
	text-align: center;
}
.login_form label{
  font-style: normal;
  font-variant: normal !important;
}
#imglog{
	width: 200px;
	height: 200px;
	padding: 20px;
}
.inputvals{
	width: 300px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}

.btn{
	background-color: #636e72;
	text-decoration-style: Palatino Linotype;
	text-decoration-color: #dfe6e9;
	border-radius: 6px;
	border: 1px solid #2d3436;
	padding: 5px;
	width: 100px;
	cursor: pointer;
}

.btn a{
	color: black;
}

.btn a:hover{
	background-color: #636e72;
}

.loginhr{
	color: #636e72;
	border-style: solid;
}

#map{
	outline: 1px solid black;
	margin: 0 auto;
	display:block;
}

.tbl{
	width: 50%;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 0px;
	padding-bottom: 20px;
	font-style: normal;
    font-variant: normal !important;

}
#forgot_container  {
	width: 500px;
	margin: 0 auto;
	background-color:#dfe6e9;
	border-radius: 20px;
	border: 2px solid #636e72;
	height: 400px;
	text-align:center;
}

#register_container{
	width: 750px;
	margin: 0 auto;
	background-color:#dfe6e9;
	border-radius: 20px;
	border: 2px solid #636e72;
	height: 600px;
}


#combined{
	display: flex;
	flex: 0 0 auto;
	width: 100%;
}
.fillters{
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	background-color: #dfe6e9;
	border-radius: 15px;
	width: 250px;
	height: 550px;
	position: sticky;
	position: -webkit-sticky;
	top: 10px;
	bottom: 30px;
	left:20px;
}
.fillters input[type="range" i]{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.products{
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	text-align: left;
}


#product ul li{
    padding: 23px;
}

#price{
	float: right;
	text-align: center;
}
.hidden{
	display:none;
}
.show{
	display:block;
}