#slider{
	position: relative;
	text-align: center;
	top:10px;
}
#slider{
	margin:0 auto;
}
#slider article{
	width:20%;
	float:left;
}
#slides .image{
	width:50%;
	line-height: 0;
}
#overflow{
	width:100%;
	overflow:hidden;
}
img{
	width:100%;
}
#desktop:checked ~ #slider{
	max-width:960px;
}
