
a{
    text-decoration: none;
}
#current{
	background-color: #3499D4;
	border-radius: 15px;
	cursor: default;

}
#banner{
	width: 100%;
}
h2,h1{
	text-align: center;
}

s{
	color: red;
}
#dealscomputers ul li,#dealsspeakers ul li,#dealsmice ul li,#dealskeyboards ul li
{
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-variant: normal !important;
  padding: 32px;
}

#login_container  {
	padding-top:40px;
	display: block;
	text-align: center;
	width: 500px;
	margin: 0 auto;
	background-color:#dfe6e9;
	border-radius: 20px;
	border: 2px solid #636e72;
	height: 550px;
}

.login_form {
	margin: 0 auto;
	font-family: Helvetica;	
	font-size: 15px;
	text-align: center;
}
.login_form label{
  font-style: normal;
  font-variant: normal !important;
}
#imglog{
	width: 200px;
	height: 200px;
	padding: 20px;
}

.logbody{
	background-color: white;
}

.inputvals{
	width: 300px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}

#bt_signin{
	background-color: #636e72;
	text-decoration-style: Palatino Linotype;
	text-decoration-color: #dfe6e9;
	border-radius: 6px;
	border: 1px solid #2d3436;
	padding: 5px;
	width: 100px;
	cursor: pointer;
}

#bt_reg{
	background-color: #636e72;
	text-decoration-style: Palatino Linotype;
	text-decoration-color: #dfe6e9;
	border-radius: 6px;
	border: 1px solid #2d3436;
	padding: 5px;
	width: 100px;
	}

#bt_forgotpass{
	background-color: #636e72;
	text-decoration-style: Palatino Linotype;
	text-decoration-color: #dfe6e9;
	border-radius: 6px;
	border: 1px solid #2d3436;
	padding: 5px;
	width: 100px;

}

#bt_forgotpass a:hover{
	background-color: #636e72;
}

#bt_forgotpass a{
	color: black;
}

#bt_reg a{
	color: black;
}

#bt_reg a:hover{
	background-color: #636e72;
}

.loginhr{
	color: #636e72;
	border-style: solid;
}

#map{
	outline: 1px solid black;
	margin: 0 auto;
	display:block;
}

.tbl{
	width: 50%;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 0px;
	padding-bottom: 20px;
	font-style: normal;
    font-variant: normal !important;

}

#bt_regi{
	background-color: #636e72;
	text-decoration-style: Palatino Linotype;
	text-decoration-color: #dfe6e9;
	border-radius: 6px;
	border: 1px solid #2d3436;
	padding: 5px;
	width: 100px;
	cursor: pointer;
}

#bt_regi a {
	color: black;
}

#bt_regi a:hover {
	background-color: #636e72;
}
#forgot_container  {
	width: 500px;
	margin: 0 auto;
	background-color:#dfe6e9;
	border-radius: 20px;
	border: 2px solid #636e72;
	height: 400px;
	text-align:center;
}

#register_container{
	width: 750px;
	margin: 0 auto;
	background-color:#dfe6e9;
	border-radius: 20px;
	border: 2px solid #636e72;
	height: 600px;
}


#combined{
	display: flex;
	flex: 0 0 auto;
	width: 100%;
}
.Laphead{
	text-align: center;
}
.fillters{
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	background-color: #dfe6e9;
	border-radius: 15px;
	width: 250px;
	height: 550px;
	position: sticky;
	position: -webkit-sticky;
	top: 10px;
	bottom: 30px;
	left:20px;
}

.fillters  h2, .fillters h4{
	text-align: center;
}
.fillters label,.login_form label{
  font-style: normal;
  font-variant: normal !important;
}
.fillters input[type="range" i]{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.products{
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	text-align: left;
}


#product ul li{
	display: inline-block;
    padding: 23px;
    font-style: normal;
    font-variant: normal !important;
}

#price{
	float: right;
	text-align: center;
}
#price h3{
text-align: center;
}

#LapHead{
	text-align: center;
}

.show{
	display: block;
}

.hidden{
	display: none;
}

#products #product ul li img{
  height: 130px;
  width: 180px;
  -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}

#products #product ul li img:hover{
   width: 220px;
  height: 170px;
}

.showreg{
	display: inline-block;
}